.deposit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  height: 100vh;
  /* background-color: #f4f4f4; */
  font-family: 'Times New Roman', Times, serif;
  background-image: url('../images/deposit.jpg'); /* Update the path to your background image */
   background-repeat: no-repeat;
  background-size: cover; /* Ensure the image covers the entire area */
  color: transparent;
}

.deposit-title {
  font-size: 2rem;
  color: rgb(227, 65, 20);
  font-weight: bold;
 
  margin-bottom: 20px;
}

.deposit-balance {
  font-size: 1.2rem;
  color: #f2f0f1;
  margin-bottom: 20px;
  font-weight: bold;
}

.deposit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.deposit-label {
  font-size: 1.2rem;
  color: #da10a1;
  margin-bottom: 5px;
}

.deposit-input {
  width: 200px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.deposit-select {
  width: 200px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.deposit-button {
  background-color: #28a745;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deposit-button:hover {
  background-color: #218838;
}
