body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: -30px;
  font-family: 'Times New Roman', Times, serif;
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../images/alldata.jpg'); /* Update the path to your background image */
  padding: 20px;
  border-radius: 10px;
}

.register-title {
  font-size: 2rem;
  color: rgb(176, 227, 20);
  margin-bottom: 20px;
  font-weight: bold;
}

.register-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.register-form .form-group {
  display: flex;
  flex-direction: column;
}

.register-form label {
  font-size: 1rem;
  color: #333;
  margin-bottom: 5px;
}

.register-form input, .register-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.register-form .btn {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  grid-column: span 2;
}

.register-form .btn:hover {
  background-color: #0056b3;
}

.register-form .full-width {
  grid-column: span 2;
}

.register-message {
  font-size: 1rem;
  color: green;
  margin-top: 10px;
  font-weight: bold;
  grid-column: span 2;
}
